form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  margin-top: 50px;
  width: 200px;
  height: 50px;
  border: 1px solid black;
  padding: 10px;
  background-color: green;
  color: white;
}
